/* kaho↓ */
.toggleMenu {
  background: none;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  background-image: url("./K.assets/hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
}

#toggleMenuCheckbox {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.features-1 {
  padding: 80px 44px;
}

.clients-area {
  padding: 0 !important;
}

/* Jay↓ */
/* third section */
input::placeholder,
textarea::placeholder {
  color: #bdbdbd;
}

@media screen and (min-width: 992px) {
  /* kaho↓ */
  .up-navbar {
    background-color: transparent !important;
  }

  .up-nav {
    padding: 195px 16px;
  }

  .logo-bar {
    padding: 0 !important;
  }

  .nav-list {
    padding: 0 !important;
  }
  .service-bg {
    padding: 16px 195px 112px 195px;
  }

  .insurance-info {
    margin-left: -23%;
    margin-top: 0 !important;
  }

  .insurance-info h2 {
    width: 60%;
    font-size: 58px !important;
  }

  .features-1 {
    padding: 96px 195px;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .button_top {
    flex-direction: row !important;
  }

  .card_container {
    flex-direction: row !important;
  }

  .picture-box {
    position: absolute;
    z-index: 10;
    left: -15%;
    top: 7%;
  }
  /* Jay↓ */
  /* first section */
  .together {
    padding: 112px 15px;
  }

  .together-content {
    padding: 0 !important;
  }

  .together-main-content h2 {
    margin-bottom: 10px !important;
  }

  /* second section */
  .pricing {
    padding: 112px 195px;
  }

  .pricing-content {
    padding: 0 !important;
  }

  .pricing-style h3 {
    order: 1;
  }
  .pricing-style h5 {
    order: 2;
  }
  .price-info {
    order: 3;
  }
  .feature-lists {
    order: 5;
  }
  .pricing-style button {
    order: 4;
  }

  /* third section */
  .contact {
    padding: 50px 195px !important;
  }

  .contact-content {
    padding: 0 !important;
    width: 42% !important;
    margin-left: -15% !important;
  }

  .contact-main-content h2 {
    padding-left: 0 !important;
  }

  .half-width,
  .position-relative {
    width: 50%;
  }

  .name-email-content {
    flex-direction: row !important;
  }

  .select-content {
    flex-direction: row !important;
  }

  .bt-area button {
    width: 38% !important;
  }

  /* footer */
  .contact-ft {
    padding: 40px 195px !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .contact-ft button {
    margin-right: 38px;
  }

  .info-ft {
    padding: 50px 195px !important;
  }

  .info-ft-area {
    flex-direction: row !important;
  }

  .contact-info {
    margin-right: 35px;
  }

  .legal-info {
    margin-right: 65px;
  }

  .resources-info {
    margin-right: 45px;
  }

  .copy-link-ft {
    padding: 25px 195px !important;
  }

  .link-box {
    margin-right: 70px;
  }
}

@media screen and (max-width: 992px) {
.navbar{
  background-color:  #252b42;}
}